@import './../variables/variables.scss';

@media screen and (max-width: $md) {
  .projects-container {
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .project-item-list {
    display: inline;
   }
}

@media screen and (min-width: $md) {
  .projects-container {
    margin-bottom: 7.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .project-item-list {
    display: flex;
    justify-content: space-between;
  }
}
