@font-face {
  font-family: 'muli regular';
  src: local('muli regular'), url('./fonts/Muli-Regular.ttf')
}

@font-face {
  font-family: 'alegreya regular';
  src: local('alegreya regular'), url('./fonts/Alegreya-Regular.ttf')
}

@font-face {
  font-family: 'roboto regular';
  src: local('robot regular'), url('./fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'lato regular';
  src: local('lato regular'), url('./fonts/Lato-Regular.ttf')
}

@font-face {
  font-family: 'lato bold';
  src: local('lato bold'), url('./fonts/Lato-Bold.ttf')
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

// Common
.card {
    width: min-content;
    border: 1px solid;
    border-color: #707070;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);

    &.horizontal {
      display: flex;
      width: 100%;
      img {
        width: 400px;
        height: 300px;
      }
    }

    &.sub-blog {
      width: 25rem;
      margin-top: 2rem;
    }

    a {
      position: relative;
      color: #e1341e;
      text-decoration: none;
    }

    .title {
      font-family: 'muli regular';
      margin: 0;
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .description {
      font-family: 'alegreya regular';
    }
}

.text-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.heading {
  margin: 0;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'lato regular';
  font-size: 1.5rem;
}

//App

// NavFooter
.navfooter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171810;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  p {
    font-family: 'lato bold';
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    padding-left: 1rem;
  }
}

// LandingPage
.landing-page-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  background-color: #171810;
  margin-bottom: 4rem;
  p {
    font-family: 'muli regular';
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-top: 0;
  }

  .first-row {
    font-size: 2rem;
    font-family: 'Lato bold';
  }
}

// Projects
.projects-container {
  margin-bottom: 7.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.project-item-list {
  display: flex;
  justify-content: space-between;
}

// ProjectItem

.project-item-image {
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.skills-container {
  display: flex;
  margin-bottom: 4rem;
  background-color: #171810;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 4rem;

  .LHS {
    flex: 1;
    padding-top: 6rem;
    p {
      color: #FFFFFF;
    }
  }

  .RHS {
    flex: 1;

    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-right: 20px;
      object-fit: contain;
    }
    .row {
      display: flex;
    }

      .column {
        display: flex;
        align-items: center;
        width: 13rem;
        margin-bottom: 1rem;
        p {
          text-transform: uppercase;
          font-family: 'lato bold';
        }
        .javascript {
          color: #ffca00;
        }
        .redux {
          color: #764abc;
        }
        .docker {
          color: #009ddc;
        }
        .react {
          color: #009ddc;
        }
        .node {
          color: #679f5c;
        }
        .firebase {
          color: #009ddc
        }
      }
      .second {
        margin-left: 5rem;
      }

  }

  .skills-heading {
    font-family: 'lato bold';
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .skills-description {
    font-size: 1.1rem;
    font-family: 'muli regular';
  }
}

// Blog
.blog-container {
  padding-left: 15rem;
  padding-right: 15rem;
  margin-bottom: 7.5rem;

  .text-container {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    .title {
      font-size: 1.5rem;
      font-family: 'roboto regular';
      margin-bottom: 0.5rem;
      color: #00BEC5;
    }
    .date {
      font-size: 0.8rem;
      font-style: oblique;
      margin-top: 0;
      margin-bottom: 1.8rem;
    }
    .description {
      font-family: 'alegreya regular';
    }
  }
}

.sub-blog-container {
  display: flex;
  justify-content: space-between;
}