@font-face {
  font-family: 'impact';
  src: local('impact'), url('./fonts/impact.ttf')
}

@font-face {
  font-family: 'muli medium';
  src: local('muli medium'), url('./fonts/Muli-Medium.ttf')
}

@font-face {
  font-family: 'alegreya';
  src: local('alegreya'), url('./fonts/Alegreya-Regular.ttf')
}
