@font-face {
  font-family: 'impact';
  src: local('impact'), url('./fonts/impact.ttf')
}

@font-face {
  font-family: 'muli medium';
  src: local('muli medium'), url('./fonts/Muli-Regular.ttf')
}

@font-face {
  font-family: 'alegreya';
  src: local('alegreya'), url('./fonts/Alegreya-Regular.ttf')
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

// Common
.card {
    width: min-content;
    border: 1px solid;
    border-color: #707070;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);

    &.horizontal {
      display: flex;
      width: 100%;
    }

    &.sub-blog {
      width: 25rem;
      margin-top: 2rem;
    }

    a {
      position: relative;
    }

    .title {
      font-family: 'muli medium';
      margin: 0;
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .description {
      font-family: 'alegreya';
    }

    .link {}
}

.text-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.heading {
  margin: 0;
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'muli medium';
  font-size: 1.5rem;
}

//App
.app-container {}

// NavFooter
.navfooter-container {
  display: flex;
  justify-content: space-between;
  background-color: #171810;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  p {
    font-family: 'impact';
    color: #FFFFFF;
  }

  img {
    width: 48px;
    padding-left: 1rem;
  }
}

// LandingPage
.landing-page-container {
  display: flex;
  justify-content: center;
  padding-bottom: 7.5rem;
  text-align: center;
  background-color: #171810;
  p {
    font-family: 'muli medium';
    color: #FFFFFF;
  }
}

// Projects
.projects-container {
  margin-bottom: 7.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.project-item-list {
  display: flex;
  justify-content: space-between;
}

// ProjectItem

.project-item-image {
  width: 300px;
  height: 200px;
}

.skills-container {
  display: flex;
  margin-bottom: 7.5rem;
  background-color: #171810;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 4rem;

  .LHS {
    flex: 1;
    padding-top: 6rem;
    p {
      color: #FFFFFF;
    }
  }

  .RHS {
    flex: 1;

    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-right: 20px;
      object-fit: contain;
    }
    .row {
      display: flex;
    }

      .column {
        display: flex;
        align-items: center;
        width: 13rem;
        margin-bottom: 1rem;
        p {
          text-transform: uppercase;
        }
        .javascript {
          color: #ffca00;
        }
        .redux {
          color: #764abc;
        }
        .docker {
          color: #009ddc;
        }
        .react {
          color: #009ddc;
        }
        .node {
          color: #679f5c;
        }
        .firebase {
          color: #009ddc
        }
      }
      .second {
        margin-left: 5rem;
      }

  }

  .skills-heading {
    font-family: 'muli medium';
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
  }
}

// Blog
.blog-container {
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 7.5rem;
}

.sub-blog-container {
  display: flex;
  justify-content: space-between;
}